$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #19191A;
$font-color-card: white;
$style-color: #DFA974;

%font-style-big {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    color: $font-color-card;
}

%font-style-middle {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: $font-color-card;
}

%font-style-small {
    font-family: $font-source-sans-pro;
    font-size: 3rem;
    line-height: 4.8rem;
    color: $font-color;
}

%decoration-animation {
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.price-container__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 40px;
}

.price-container__line {
    width: 100%;
    height: 5px;
    background: $style-color;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.price-container__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        @extend %decoration-animation;

        &__img {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 250px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 20px 20px 25px;
            width: 35%;
            border-radius: 10px;

            &__name {
                @extend %font-style-big;
            }

            &__button {
                align-self: center;
                position: relative;
                @extend %font-style-middle;
                transition: 0.5s;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -0.5rem;
                    height: 0.2rem;
                    background: $style-color;
                    transition: 0.5s;
                }
            }
        }

        &__price-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            width: 60%;
            height: 250px;
            background: #FFFFFF;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;

            &__description {
                @extend %font-style-small;
            }

            &__price {
                position: relative;
                height: 22rem;
                width: 22rem;
                border: 5px solid $style-color;
                border-radius: 50%;
            }

            &__price-text {
                position: absolute;
                font-weight: 700;
                @extend %font-style-small;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &:hover {
            .price-container__content__card__img__button {
                color: $style-color;

                &::after {
                    left: -15%;
                    right: -15%;
                }
            }
        }
    }
}