$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #19191A;
$font-color-card: white;
$style-color: #DFA974;

%font-style-big {
    font-family: $font-montserrat;
    font-weight: 400;
    font-size: 3.7rem;
    line-height: 4.6rem;
    color: $font-color;
}

%font-style-middle {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: $font-color-card;
}

%font-style-small {
    font-family: $font-source-sans-pro;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color;
}

%decoration-animation {
    text-decoration: none;
    transition: 0.5s;
}

.training-container__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 40px;
}

.training-container__line {
    width: 100%;
    height: 5px;
    background: $style-color;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.training-container__navigation {
    display: flex;
    align-items: center;
    gap: 20px;

    &__main-link {
        @extend %font-style-small;
        @extend %decoration-animation;

        &:hover {
            color: $style-color;
        }
    }

    &__arrow,
    &__arrow2 {
        width: 2.2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(249%) hue-rotate(202deg) brightness(99%) contrast(94%);
    }

    &__trainings-link {
        @extend %font-style-small;
        @extend %decoration-animation;

        &:hover {
            color: $style-color;
        }
    }

    &__training-link {
        position: relative;
        @extend %font-style-small;
        @extend %decoration-animation;

        &:hover {
            color: $style-color;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.5rem;
            height: 0.2rem;
            background: $style-color;
        }
    }
}

.training-container__content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__start-block {
        display: flex;
        justify-content: space-between;

        &__title {
            @extend %font-style-big;
        }

        &__img {
            width: 30%;
            height: 280px;
            background-size: cover;
            background-position: center;
        }
    }

    &__main-block {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}