$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: white;
$font-input-color: #19191A;
$style-color: #DFA974;
$background-input: rgba(255, 255, 255, 0.5);
$background-color: #222736;

%font-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5.6rem;
    color: $font-color;
}

%font-description {
    font-family: $font-source-sans-pro;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.5rem;
    color: $font-color;
}

%font-input-text {
    font-family: $font-source-sans-pro;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: $font-input-color; 
}

%font-button-text {
    font-family: $font-source-sans-pro;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.05em;
    color: $font-color; 
}

%font-checkbox-text {
    font-family: $font-source-sans-pro;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
    color: $font-color; 
}

%input {
    @extend %font-input-text;
    padding: 10px 10px;
    background: $background-input;
    border: none;
    border-radius: 10px;
}

.form-block {
    width: 100%;
    background-size: cover;
    background-position: center;

    &__container {
        display: flex;
        justify-content: flex-end;
        max-width: 1440px;
        margin: 0 auto;
        padding: 80px 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 320px;

        &__title {
            @extend %font-title;
        }

        &__line {
            width: 100%;
            height: 0.4rem;
            background: $style-color;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        }

        &__description {
            @extend %font-description;
        }

        &__data {
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__input-phone-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
                width: 100%;

                &__start-phone-number {
                    @extend %font-checkbox-text;
                    font-size: 24px;
                }

                &__code-number {
                    width: 20%;
                    @extend %input;
                }

                &__phone-number {
                    width: 60%;
                    @extend %input;
                }
            }

            &__input {
                @extend %input;
            }

            &__checkbox-block {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                &__checkbox {
                    width: 20px;
                    height: 20px;
                }

                &__checkbox-description {
                    @extend %font-checkbox-text;

                    a {
                        color: white;
                    }
                }
            }
        }

        &__button,
        &__waiting-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 64px;
            @extend %font-button-text;
            background: $background-color;
            border-radius: 10px;
            cursor: pointer;
        }

        &__waiting-button {
            display: none;
            background: #181c29;
            cursor: auto;
        }
    }
}

.mistake {
    border: 1px solid red;
}

@media(max-width: 300px) {
    .form-block__content__title {
        font-size: 3.4rem;
        line-height: 4.6rem;
    }
}