$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #19191A;
$style-color: #DFA974;

%font-style-middle {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: $font-color;
}

%font-style-small {
    font-family: $font-source-sans-pro;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color;
}

%decoration-animation {
    text-decoration: none;
    transition: 0.5s;
}

%flex-basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    @extend %flex-basic;
    gap: 40px;
    height: 90px;

    &__logo {
        @extend %font-style-middle;
        @extend %decoration-animation;

        &:hover {
            color: $style-color;
        }
    }

    &__nav {
        @extend %flex-basic;
        gap: 20px;
        width: 100%;
        max-width: 803px;

        &-element {
            position: relative;
            @extend %font-style-small;
            @extend %decoration-animation;
        }

        &-element.active::after {
            content: '';
            position: absolute;
            bottom: -0.5rem;
            right: 0;
            left: 0;
            height: 0.2rem;
            background-color: $style-color;
        }

        &-element:hover {
            color: $style-color;
        }
    }
}