$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #19191A;
$style-color: #DFA974;

%font-title {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 5.4rem;
    color: $font-color;
}

%font-card-title {
    font-family: $font-source-sans-pro;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.8rem;
    text-align: center;
    color: $font-color;
}

%font-card-description {
    font-family: $font-source-sans-pro;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
    color: $font-color;
}

%font-button {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: $font-color;
}

.trainers-block__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 20px;
}

.trainers-block__title {
    position: relative;
    @extend %font-title;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        max-width: 828px;
        height: 0.4rem;
        background-color: $style-color;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    }
}

.trainers-block__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__cards {
        display: flex;
        gap: 5%;
        width: 100%;
        overflow-x: hidden;

        &__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            gap: 20px;
            width: 30%;
    
            &__photo {
                width: 280px;
                height: 280px;
                background-size: cover;
                background-position: center;
                border-radius: 50%;
            }
    
            &__title {
                height: 76px;
                @extend %font-card-title;
            }
    
            &__description {
                @extend %font-card-description;
            }
        }
    }

    &__button {
        position: relative;
        @extend %font-button;
        text-decoration: none;
        transition: 0.5s;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.5rem;
            height: 0.2rem;
            background-color: $style-color;
            transition: 0.5s;
        }

        &:hover {
            color: $style-color;

            &::after {
                right: -3rem;
                left: -3rem;
            }
        }
    }
}

@media(max-width: 1000px) {
    .trainers-block__content__cards__card {
        width: 47.5%;
    }
}

@media(max-width: 660px) {
    .trainers-block__content__cards__card {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .trainers-block__title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }
}

@media(max-width: 340px) {
    .trainers-block__title {
        font-size: 3rem;
        line-height: 4rem;
    }

    .trainers-block__content__cards__card__title {
        font-size: 2.5rem;
        line-height: 3.3rem;
    }

    .trainers-block__content__cards__card__description {
        line-height: 2.5rem;
    }
}

@media(max-width: 300px) {
    .trainers-block__title {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    .trainers-block__content__button {
        font-size: 2rem;
    }
}