$background-color: #222736;
$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #AAAAB3;
$style-color: #DFA974;

%font-style-big {
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
  letter-spacing: 0.1em;
  color: $font-color;
}

%font-style-middle {
  font-family: $font-source-sans-pro;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: $style-color;
}

%font-style-small {
  font-family: $font-source-sans-pro;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: $font-color;
}

%decoration-animation {
  text-decoration: none;
  transition: 0.5s;
}

%flex-basic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 20px;
  background-color: $background-color;

  &-container {
    @extend %flex-basic;
    gap: 40px;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__logo {
    @extend %font-style-big;
    @extend %decoration-animation;

    &:hover {
      color: $style-color;
    }
  }

  &__contacts {
    display: flex;
    gap: 40px;
  }

  &__phone-mail,
  &__location {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__phone-mail-title,
  &__location-title {
    @extend %font-style-middle;
  }

  &__mail,
  &__phone,
  &__location-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    @extend %font-style-small;
    @extend %decoration-animation;

    &-logo {
      width: 5rem;
      height: 5rem;
      background-repeat: no-repeat;
      background-position: center;
      filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
    }
  }

  &__location-container-text {
    width: 100%;
    max-width: 350px;
  }

  &__mail-logo {
    background-image: url('../../assets/svg/mail-logo.svg');
  }

  &__phone-logo {
    background-image: url('../../assets/svg/phone-logo.svg');
  }

  &__location-container-logo {
    background-image: url('../../assets/svg/location-logo.svg');
  }

  &__media {
    display: flex;
    gap: 20px;

    &-instagram,
    &-facebook,
    &-twitter {
      width: 5rem;
      height: 5rem;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.25));
    }

    &-instagram {
      background-image: url('../../assets/svg/instagram-logo.svg');
    }

    &-facebook {
      background-image: url('../../assets/svg/facebook-logo.svg');
    }

    &-twitter {
      background-image: url('../../assets/svg/twitter-logo.svg');
    }
  }
}

