$font-montserrat: 'Montserrat', sans-serif;
$font-source-sans-pro: 'Source Sans Pro', sans-serif;
$font-color: #19191A;
$font-color-card: white;
$style-color: #DFA974;
$background-color: #222736;

%font-card-title {
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.2rem;
    text-align: center;
    color: $font-color-card;
}

%font-card-button {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: $font-color-card;
}

%font-links {
    font-family: $font-source-sans-pro;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $font-color;
}

%font-categories {
    font-family: $font-source-sans-pro;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: center;
    color: $font-color-card;
}

.trainings-container__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 40px;
}

.trainings-container__line {
    width: 100%;
    height: 5px;
    background: $style-color;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.trainings-container__navigation {
    display: flex;
    align-items: center;
    gap: 20px;

    &__main-link {
        @extend %font-links;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            color: $style-color;
        }
    }

    &__arrow {
        width: 2.2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(0) saturate(100%) invert(7%) sepia(8%) saturate(249%) hue-rotate(202deg) brightness(99%) contrast(94%);
    }

    &__trainings {
        position: relative;
        @extend %font-links;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.5rem;
            height: 0.2rem;
            background: $style-color;
        }
    }
}

.trainings-container__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 40px;
    background: $background-color;
    border-radius: 10px;

    &__category {
        position: relative;
        @extend %font-categories;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            color: $style-color;
        }

        &.active::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -0.5rem;
            height: 0.2rem;
            background: $style-color;
        }
    }
}

.trainings-container__cards {
    display: flex;
    justify-content: center;
    gap: 40px 5%;
    flex-wrap: wrap;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 180px;
        width: 30%;
        padding: 40px;
        background-color: rgb(79, 99, 156);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.5s;

        &-title {
            height: 150px;
            @extend %font-card-title;
        }

        &-button {
            position: relative;
            @extend %font-card-button;
            text-decoration: none;
            transition: 0.5s;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -0.5rem;
                height: 0.2rem;
                background-color: $style-color;
                transition: 0.5s;
            }
        }

        &:hover {
            background-position: top;
            filter: drop-shadow(8px 8px 12px $font-color);

            .trainings-container__cards__card-button {
                color: $style-color;

                &::after {
                    left: -15%;
                    right: -15%;
                }
            }
        }
    }
}

@media(max-width: 1080px) {
    .trainings-container__cards__card {
        width: 47.5%;
    }
}

@media(max-width: 750px) {
    .trainings-container__categories {
        flex-direction: column;
        align-items: center;
    }

    .trainings-container__cards__card {
        width: 100%;
    }
}

@media(max-width: 390px) {
    .trainings-container__categories {
        padding: 20px 10px;
        gap: 20px;
        
        &__category {
            font-weight: 400;
            font-size: 1.8rem;
        }
    }

    .trainings-container__cards__card {
        gap: 140px;

        &-title {
            font-size: 2.6rem;
            line-height: 3.6rem;
        }
    }
}

@media(max-width: 320px) {
    .trainings-container__cards__card {

        &-title {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }
}