$font-montserrat: 'Montserrat', sans-serif;
$font-color-title: #19191A;
$font-color-card: white;
$style-color: #DFA974;

%font-title {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 4.4rem;
    line-height: 5.4rem;
    color: $font-color-title;
}

%font-card-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    text-align: center;
    color: $font-color-card;
}

%font-card-button {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    letter-spacing: 0.1em;
    color: $font-color-card;
}

.trainings-block__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 20px;
}

.trainings-block__title {
    position: relative;
    @extend %font-title;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        max-width: 873px;
        height: 0.4rem;
        background-color: $style-color;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    }
}

.trainings-block__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 5%;

    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 250px;
        width: 30%;
        padding: 40px;
        background-color: $style-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
        text-decoration: none;
        transition: 0.5s;

        &-title {
            @extend %font-card-title;
        }

        &-button {
            position: relative;
            @extend %font-card-button;
            transition: 0.5s;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -0.5rem;
                height: 0.2rem;
                background-color: $style-color;
                transition: 0.5s;
            }
        }

        &:hover {
            background-position: top;
            filter: drop-shadow(8px 8px 12px $font-color-title);

            .trainings-block__cards-card-button {
                color: $style-color;

                &::after {
                    left: -15%;
                    right: -15%;
                }
            }
        }
    }
}

@media(max-width: 1080px) {
    .trainings-block__cards-card {
        width: 47.5%;
    }
}

@media(max-width: 750px) {
    .trainings-block__cards-card {
        width: 100%;
    }
}

@media(max-width: 430px) {
    .trainings-block__title {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .trainings-block__cards-card-title {
        font-size: 3rem;
        line-height: 3.2rem;
    }
}

@media(max-width: 360px) {
    .trainings-block__title {
        font-size: 3rem;
        line-height: 4rem;
    }

    .trainings-block__cards-card {
        gap: 170px;
    }

    .trainings-block__cards-card-title {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
}

@media(max-width: 320px) {
    .trainings-block__title {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    .trainings-block__cards-card {
        gap: 140px;
    }

    .trainings-block__cards-card-title {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
}